<!DOCTYPE html>
<html class="full" lang="en" ng-app>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rebirth Armitage Studios">

    <title>NEICAC Punch Card</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/css/core.css" rel="stylesheet">
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!-- Import AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( "#accordion" ).accordion({
          heightStyle: "content"
        });
      } );
    </script>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">NEICAC Timeclock System : Administration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://rebirtharmitage.com:8084/admin">Home
                <span class="sr-only">(current)</span>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="http://rebirtharmitage.com:8084/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div data-target="mainNav" data-offset="0" id="mainbody">
      <section id="main">
        <div class="container" ng-controller="timecard">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <h2>Users List</h2>
              <p class="lead"></p>
              <p class="lead">List of all users by your department {{.Body}}</p>
								<div>
									<table class="table table-bordered table-back">
										<thead>
											<tr>
												<th>User</th>
												<th>Pin</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Options</th>
											</tr>
										</thead>
										<tbody>
										{{range .Users}}
											<tr>
												<td>{{.Fname}} {{.Lname}}</td>
                        <td>{{.Pin}}</td>
                        <td>{{.Department}}</td>
												<td>  {{ if (eq .Status 1)}}
                                Punched In   :
                                <button type="button" onclick="location.href='http://rebirtharmitage.com:8084/masterPunchOut/{{.Pin}}';" class="btn btn-primary buffered">Punch Out</button> 
                              {{else}}
                                Punched Out  :
                                <button type="button" onclick="location.href='http://rebirtharmitage.com:8084/masterPunchIn/{{.Pin}}';" class="btn btn-primary buffered">Punch In</button>  
                              {{end}}
                          
                        </td>
                        <td>
                          <button type="button" onclick="location.href='http://rebirtharmitage.com:8084/editUserPage/{{.Pin}}';" class="btn btn-primary buffered">Edit</button>
                          <button type="button" onclick="location.href='http://rebirtharmitage.com:8084/timecardEdit/{{.Pin}}';" class="btn btn-primary buffered">Edit Timecard</button>
                          <button type="button" onclick="location.href='http://rebirtharmitage.com:8084/userDelete/{{.Pin}}';" class="btn btn-primary buffered">Delete</button>
                        </td>
											</tr>
										{{end}}
										</tbody>
									</table>
                 </div>
              
<!--                  <div id="accordion">
                   {{range .AllPunchcard}}
                   
                    <h3>
                    {{.Title}} Click to View Punches for Date
                    </h3>
                   <div>
                     <h3>
                       {{.Title}} : Total of Hours Worked {{.FormattedSum}}
                     </h3>
                    <table class="table table-bordered table-back">
										<thead>
											<tr>
												<th>PunchTime</th>
												<th>Type</th>
											</tr>
										</thead>
										  <tbody>
                      {{range .Punchf}}
											<tr>
												<td>{{.FormattedPunch}}</td>
												<td>  {{ if (eq .Punchtype 0)}}
                                Punched In
                              {{else}}
                                Punched Out
                              {{end}}
                        </td>
											</tr>
                      {{end}}
										  </tbody>
									  </table>
                    </div>
                   {{end}}
								</div> -->
              
              </div>
							</div>
            </div>
      </section>
    </div>
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NEICAC 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/js/core.js"></script>
  </body>

</html>